.createGroup {
  &__top {
    justify-content: space-between;
    // padding-right: 16px;
  }

  &__top-right {
    display: flex;
    align-items: start;
  }

  &__btn-field {
    margin-left: 16px;
  }

  &__members {
    margin-right: 8px;
  }

  &__row,
  &__field {
    margin-bottom: 16px !important;
  }

  &__listMembers {
    height: 250px;
    overflow-y: auto;
  }

  &__tooltip .MuiSvgIcon-root {
    margin-left: 16px;
    color: grey;
  }

  &__based {
    margin: 0;
    color: gray;
    white-space: pre;
    text-overflow: ellipsis;
    max-width: 100%;
    margin-bottom: 16px;
    margin-top: -8px;
    font-size: 14px;
    overflow: hidden;
  }

  &__fileInput {
    & button {
      padding: 8px;
      background-color: white;
      cursor: pointer;
      border-radius: 50%;
      height: fit-content;
      width: 45px;
      margin-left: 8px;
      border: 1px solid #1976d2;
      color: #1976d2;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    & > div {
      margin: 0 !important;
    }
  }

  &--limit {
    color: #c00000;
  }

  .MuiSelect-select {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

.MuiDialog-paperWidthSm {
  max-width: 400px !important;
  width: 400px;
}

.MuiFormControl-root {
  width: 100%;
}
