.loginButton {
  display: flex;
  align-items: center;
  border: none;
  margin-bottom: 64px;
  transition: 0.7s ease all;
  background: #5494F2;
  border-radius: 4px;
  width: 298px;
  padding: 1px 8px 1px 1px;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 16px;

  z-index: 99;

  cursor: pointer;

  &:hover {
    opacity: 90%;
  }

  &__img {
    margin-right: 16px;
    width: 16px;
    height: 16px;
    padding: 8px;
    background: #FFFFFF;
    border-radius: 4px;
  }

  &--Facebook {
    background: #0646A5;
    margin-bottom: 32px;
  }

  &__text {
    margin: 0;
    width: 241px;
    text-align: center;
    cursor: pointer;
  }
}
