.navbarProfile {
  &__profile {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
  }
}

#navbarProfile__menu .MuiMenu-paper {
  top: 73px !important;

  ul li:not(:last-child) {
    border-bottom: 1px solid gray;
  }
}
