<configuration debug="true">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
<!--            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>-->
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%M %F:%L - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

<!--    <logger name="org.springframework" level="TRACE"/>-->

    <logger name="org.springframework.security" level="INFO"/>
    <logger name="org.springframework.web" level="INFO"/>
    <logger name="org.springframework" level="INFO"/>
    <logger name="org.springframework.web.filter.CommonsRequestLoggingFilter" level="INFO"/>
    <logger name="org.springframework.boot.autoconfigure.logging" level="INFO"/>
    <logger name="org.springframework.beans.factory.support" level="INFO"/>

<!--    <logger name="com.sun.mail" level="FINE" />-->
<!--    <logger name="org.thymeleaf" level="TRACE"/>-->


    <logger name="Exposed" level="DEBUG"/>
<!--    <logger name="org.postgresql.core.v3.QueryExecutorImpl" level="TRACE"/>-->

    <logger name="idel" level="DEBUG"/>
    <logger name="idel.infrastructure.repositories" level="TRACE"/>
    <logger name="idel.api" level="TRACE"/>

</configuration>