.LeftSideBar {
  &__list {
    height: calc(100vh - 250px);
    overflow-y: auto;
  }

  &__progress {
      text-align: center;
      overflow: hidden;

      .MuiCircularProgress-root {
        width: 40px !important;
        height: 40px !important;
      }
  }

  &__display {
    display: none;
  }

  &__list-item {
    justify-content: space-between;
  }

  &__more {
    position: relative;
    display: flex;
    align-items: center;

    .MuiButtonBase-root {
      height: fit-content;
    }
  }

  &__item {
    text-decoration: none;
    color: black;
    width: 100%;
    max-width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;

    &--active {
      background-color: #d6ebff;
    }
  }

  &__link {
    display: flex;
    justify-content: space-between;
    position: relative;

    &:hover {
      background-color: rgba(0, 0, 0, 0.04);    
    }

    &--active {
      background-color: #d6ebff !important;
    }
  }

  &__menuList {
    display: none;
    position: absolute;
  }

  &__menuOpen {
    display: block;
  }

  &__openMenu {
    position: absolute !important;
    z-index: 999;
    right: 0 !important;
    left: auto !important;
    top: 40px !important;
    transform: none !important;

    ul li:not(:last-child) {
      border-bottom: 1px solid rgba(238, 163, 163, 0.12);
    }
  }

  &__drawer {
    width: 400px;
    flex-shrink: 0;
    color: rgba(0, 0, 0, 0.87);
    background-color: #fff;
    box-shadow: none;
    top: 0;
    flex: 1 0 auto;
    height: 100vh;
    display: flex;
    outline: 0;
    z-index: 1200;
    overflow-y: auto;
    flex-direction: column;
    left: 0;
    right: auto;
    border-right: 1px solid rgba(0, 0, 0, 0.12);
    border-left: 1px solid rgba(0, 0, 0, 0.12);

    // .infinite-scroll-component {
    //   // padding-bottom: 78px;
    // }
  }

  &__drawer {
    position: absolute;
  }

  &__drawerPaper {
    width: 400px;
    overflow: hidden;
  }

  &__toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &--mobile {
      padding: 0 8px;
      justify-content: flex-end;
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    }
  }

  &__toolbarTopLeft {
    display: flex;
    align-items: center;
    margin-left: 16px;
  }

  &__title {
    margin-left: 16px;
  }

  &__bottomlistItem {
    &:hover {
      background-color: rgba(0, 0, 0, 0.04) !important;    
    }
  }

  &__avatar {
    margin-right: 16px;
  }

  &__bottom-item {
    text-decoration: none;
    color: black;

    &--active .LeftSideBar__bottomlistItem {
      background-color: #d6ebff;
    }
  }
}

@media (max-width: 1300px) {
  .LeftSideBar {
    &__drawer {
      display: none;

      &--open {
        display: flex;
      }
    }

    &__drawerPaper {
      overflow: auto;
    }
  }
}

@media (max-width: 410px) {
  .LeftSideBar {
    &__drawer {
      width: 100%;
    }

    &__drawerPaper {
      width: 100%;
    }
  }
}
