.modalButtons {
  display: flex;
  justify-content: flex-end;
  margin-top: 32px;

  &__cancel {
    margin-right: 8px !important;
  }

  &__accept {
    background-color: #2296f3 !important;
  }

  &__textInfo {
    font-size: 10px;
    margin-right: auto;
    align-self: end;
    color: grey;
  }
}
