.joinRequestsModal {
    .groupMainScreenInvite {
        max-width: none;
    }

    .modal {
        width: fit-content;
        padding: 0;
    }

    .MuiCard-root {
        margin-bottom: 0;
        min-width: 50vw;
    }
}